.react-meme-generator {
  max-width: 520px;
  padding: 20px;
  margin: 0 auto;
}

.react-meme-generator h1 {
  text-align: center;
  font-size: 3em;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

.react-meme-generator__form {
  text-align: center;
  margin-bottom: 15px;
}

.react-meme-generator__input {
  margin: 5px;
}

.react-meme-generator__button {
  margin: 7px;
  border: none;
  background-color: rgb(38, 70, 121);
  padding: 8px 10px;
  color: white;
  cursor: pointer;
}

.react-meme-generator__meme {
  max-width: 100%;
}

.react-meme-generator__meme-container {
  word-break: break-all;
  position: relative;
}

.react-meme-generator__meme-text {
  font-family: Impact, "Arial Narrow Bold", sans-serif;

  position: absolute;
  font-size: 48px;
  color: white;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
      2px 2px 0 #000;

  text-transform: uppercase;

  margin: 0;

  left: 0;
  right: 0;
  text-align: center;
}

.react-meme-generator__meme-text--top {
  top: 16px;
}

.react-meme-generator__meme-text--bottom {
  bottom: 16px;
}
