.react-meme-generator {
  max-width: 520px;
  padding: 20px;
  margin: 0 auto;
}

.react-meme-generator h1 {
  text-align: center;
  font-size: 3em;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

.react-meme-generator__form {
  text-align: center;
  margin-bottom: 15px;
}

.react-meme-generator__input {
  margin: 5px;
}

.react-meme-generator__button {
  margin: 7px;
  border: none;
  background-color: rgb(38, 70, 121);
  padding: 8px 10px;
  color: white;
  cursor: pointer;
}

.react-meme-generator__meme {
  max-width: 100%;
}